.eng-comment
  .eng-comment-author
    - if comment.author_website?
      = link_to(comment.author_name, comment.author_website)
    - else
      %span= comment.author_name
    on
    = comment.created_at.to_formatted_s(:long)
  .eng-comment-body
    = render_comment(comment)
  - if admin?
    .admin
      Spam status:
      = comment.spam_status
      .eng-post-comment-links
        - if comment.spam_status != 'admin-says-spam'
          = button_to('Mark spam', spam_eng_article_comment_path(comment.article, comment), :method => :post, :confirm => 'Are you sure this is spam?')
        - if comment.spam_status != 'admin-says-ham'
          = button_to('Mark ham', ham_eng_article_comment_path(comment.article, comment), :method => :post, :confirm => 'Are you sure this is ham?')
        = button_to('Delete', eng_article_comment_path(comment.article, comment), :method => :delete, :confirm => 'Are you sure you want to destroy this comment?')
