%h3 Your Comment
= form_for(comment, :url => eng_article_comments_path(article)) do |f|
  = f.error_messages
  %table
    %tr
      %th= f.label(:author_name, 'Your name')
      %td= f.text_field(:author_name)
    %tr
      %th= f.label(:author_email, 'Your email')
      %td= f.text_field(:author_email)
    %tr
      %th= f.label(:author_website, 'Your website')
      %td= f.text_field(:author_website)
    %tr
      %th= f.label(:body, 'Your comment')
      %td= f.text_area(:body)
    %tr
      %td{:colspan => 2}= recaptcha_tags()
    %tr
      %th
      %td= f.submit('Post Comment')
