.eng-comment
  .eng-comment-timestamp
    Written:
    %span= comment.created_at.to_formatted_s(:long)
  .eng-comment-author
    By:
    - if comment.author_website?
      = link_to(comment.author_name, comment.author_website)
    - else
      %span= comment.author_name
  .eng-comment-body
    = render_comment(comment)
  - if admin?
    .eng-post-comment-links
      = button_to('Delete', eng_article_comment_path(comment.article, comment), :method => :delete, :confirm => 'Are you sure you want to destroy this comment?')
