.eng-article
  %h2= @article.title

  .eng-article-body
    - if @article.body[0] == ?<
      = raw(@article.body)
    - else
      = raw(textilize(@article.body))

  - if admin?
    .eng-article-links
      %p= link_to('Edit', edit_eng_article_path(@article))
      %p= button_to('Delete', @article, :method => :delete, :confirm => 'Are you sure you want to destroy this article?')

#comments.blog-comments
  -#%a.muut{:href => "https://muut.com/i/adamhooper/comments", :type => "dynamic"} Comments
  -#%script{:src => "//cdn.muut.com/1/moot.min.js"}
  :plain
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES * * */
        var disqus_shortname = 'adamhooper';
        
        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
