- content_for :head do
  = stylesheet_link_tag 'eng'

- content_for :title do
  %h1= link_to("Adam Hooper's Engineering Tips", eng_articles_path)

.eng-article
  %h2=h @article.title

  = textilize @article.body

%p= link_to('Articles List', eng_articles_path)
- if admin?
  %p= link_to('Edit', edit_eng_article_path(@article))
  %p= button_to('Delete', @article, :method => :delete, :confirm => 'Are you sure you want to destroy this article?')
