.comment-form
  %h3 Your Comment

  = form_for(comment, :url => blog_post_comments_path(post)) do |f|
    %table
      %tr
        %th= f.label(:author_name, 'Your name')
        %td= f.text_field(:author_name)
      %tr
        %th= f.label(:author_email, 'Your email')
        %td= f.text_field(:author_email)
      %tr
        %th= f.label(:author_website, 'Your website')
        %td= f.text_field(:author_website)
      %tr
        %th= f.label(:body, 'Your comment')
        %td
          = f.text_area(:body)
          %p.explanation
            You may enter &lt;em&gt; and &lt;strong&gt; but not &lt;a&gt;.
            %br/
            Write two newlines to start a new paragraph.

      %tr
        %th Your humanness
        %td= recaptcha_tags()
      %tr
        %th
        %td= f.submit('Post Comment', :class => 'submit')
