-# Required variable: "f", the form_for instance
.blog-post-form
  = f.error_messages

  %p
    = f.label(:title)
    = f.text_field(:title)

  %p
    = f.label(:body)
    = f.text_area(:body)

  %p
    = f.label(:tag_names)
    = f.text_field(:tag_names)
