.blog-post{:id => "blog-post-#{post.id}"}
  %p.timestamp-and-tags
    Posted
    %span.timestamp= post.created_at.to_date.to_formatted_s(:long)
    in
    %span.tags= post.tags.collect{|t| link_to(t.name, blog_posts_path(:tag => t.name))}.sort.join(', ').html_safe
  .body
    = render_post(post)
  - if admin?
    .links
      = link_to('Edit', edit_blog_post_path(post))
