-# required variables: "post", a Blog::Post
.blog-post-preview{:id => post.id}
  %h2= link_to(post.title, post)
  %p.timestamp-and-tags
    Posted
    %span.timestamp= post.created_at.strftime("%B %d").gsub(/0(\d)/, '\\1')
    in
    %span.tags= post.tags.collect{|t| link_to(t.name, blog_posts_path(:tag => t.name))}.sort.join(', ').html_safe
  .body
    = render_post_preview(post)
  %p.num-comments
    = link_to(pluralize(post.comments.count, 'comment'), blog_post_path(post, :anchor => 'comments'))
