<h1>Editing post</h1>

<% form_for(:post, @post, :url => blog_post_path(@post), :html => { :method => :put }) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'form', :locals => { :f => f } %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @post %> |
<%= link_to 'Back', blog_posts_path %>
