<% content_for :head do %>
  <%= stylesheet_link_tag 'blog' %>
  <%= auto_discovery_link_tag :rss, formatted_blog_posts_url(:rss) %>
<% end %>

<% content_for :title do %>
  <h1><%= link_to "Adam Hooper's Blog", blog_posts_path %></h1>
<% end %>

<% content_for :menu do %>
  <h2>Links</h2>
  <ul>
    <li><%= link_to 'My Website', root_path %></li>
    <%# FIXME: link to photos %>
    <li><%= link_to 'My Photos', photos_path %></li>
  </ul>
  <div class="tags">
    <h3>Tags</h3>
    <ul>
      <% Tag.all(:order => :name).each do |tag| %>
        <li><%= link_to tag.name, blog_posts_path(:tag => tag.name) %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<% content_for :footer do %>
  <p>
    The opinions expressed herein are my own. It would shame me if you
    deduced otherwise.
  </p>
<% end %>

<% if params[:tag] %>
  <div class="blog-search">
    Showing blog posts with tag: <span><%=h params[:tag] %></span>.
    <%= link_to 'Show all blog posts', blog_posts_path %>
  </div>
<% else %>
  <div class="blog-blurb">
  My published life in reverse chronological order.
</div>
<% end %>

<% for post in @posts %>
  <%= month_dividers(post.created_at) %>
  <%= render :partial => 'post', :object => post %>
<% end %>

<%= will_paginate @posts %>

<p><%= link_to 'New post', new_blog_post_path %></p>
