- content_for(:top) do
  #tags
    %h3 Tags
    %ul
      - Tag.all(:order => :name).each do |tag|
        %li= link_to(tag.name, blog_posts_path(:tag => tag.name))

  - if params[:tag]
    %p.blurb
      Tag:
      %strong= params[:tag]
      = link_to('Show all blog posts', blog_posts_path)

- content_for(:footer) do
  %p These opinions are all mine.

- @posts.each do |post|
  = month_dividers(post.created_at)
  = render('preview', :post => post)

= will_paginate(@posts, :previous_label => '← Newer posts', :next_label => 'Older posts →')

- if admin?
  %p= link_to('New post', new_blog_post_path)
