- content_for(:top) do
  - if params[:tag]
    %p.blurb
      Tag:
      %strong= params[:tag]
      = link_to('Show all blog posts', blog_posts_path)

- content_for(:footer) do
  = tag_list

  %footer
    %p.blurb These opinions are all mine.

- @posts.each do |post|
  = month_dividers(post.created_at)
  = render('preview', :post => post)

= will_paginate(@posts, :previous_label => '← Newer posts', :next_label => 'Older posts →', :inner_window => 2, :outer_window => 0)

- if admin?
  %p= link_to('New post', new_blog_post_path)
