<% content_for :head do %>
  <%= stylesheet_link_tag 'blog' %>
  <%= auto_discovery_link_tag :rss, formatted_blog_posts_url(:rss) %>
<% end %>

<% content_for :title do %>
  <h1><%= link_to "Adam Hooper's Blog", blog_posts_path %></h1>
<% end %>

<div class="blog-blurb">
  You are now honed in on a single perspective of my life.
</div>

<%= render :partial => 'post', :object => @post %>

<div id="comments" class="blog-comments">
  <h2>Comments</h2>
  <%= render :partial => 'comment', :collection => @post.comments.reject(&:new_record?) %>
  <%= render :partial => 'comment_form', :locals => { :post => @post, :comment => @new_comment } %>
</div>
