<p>
  <b>Title:</b>
  <%=h @post.title %>
</p>

<p>
  <b>Body:</b>
</p>
<%= @post.html %>

<p>
  <b>Posted at:</b>
  <%=h @post.created_at %>
</p>


<%= link_to 'Edit', edit_blog_post_path(@post) %> |
<%= link_to 'Back', blog_posts_path %>
