<% content_for :head do %>
  <%= stylesheet_link_tag 'blog' %>
<% end %>

<% content_for :title do %>
  <h1>Errors with Your Comment</h1>
<% end %>

<% content_for :menu do %>
  <h2>Links</h2>
  <ul>
    <li><%= link_to 'The Post', @post %></li>
    <li><%= link_to 'The Entire Blog', blog_posts_path %></li>
  </ul>
<% end %>

<%= error_messages_for :comment %>

<div id="comments" class="blog-comments">
  <h2>Your Comment</h2>
  <%= render :partial => '/blog/posts/comment_form', :locals => { :post => @post, :comment => @comment } %>
</div>
