<p>
  <b>Blog post:</b>
  <%=h @comment.blog_post_id %>
</p>

<p>
  <b>Author name:</b>
  <%=h @comment.author_name %>
</p>

<p>
  <b>Author ip:</b>
  <%=h @comment.author_ip %>
</p>

<p>
  <b>Author website:</b>
  <%=h @comment.author_website %>
</p>

<p>
  <b>Author email:</b>
  <%=h @comment.author_email %>
</p>

<p>
  <b>Body:</b>
  <%=h @comment.body %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
