-# Local variables: "path", "file"

%p
  = link_to 'Back to Parent Directory', code_path(:path => path.parent)
  |
  = link_to "Download #{h(path.basename)}", download_code_path(:path => path)

.file
  %h2&= path
  ~ syntax_highlight(file, path)

%p
  = link_to 'Back to Parent Directory', code_path(:path => path.parent)
  |
  = link_to "Download #{h(path.basename)}", download_code_path(:path => path)
