= f.error_messages
%p.title
  %label
    Title:
    = f.text_field(:title)
%p.subtitle
  %label
    Subtitle:
    = f.text_field(:subtitle)
%p.image-html
  %label
    Image HTML:
    (variable size; use <tt>.aspect-ratio-16-9</tt> and <tt>.aspect-ratio-4-3</tt> for full width; use <tt>src="about:blank" data-src="..."</tt> to load on demand)
    = f.text_area(:image_html)
%p.hack-blurb
  %label
    Hack blurb (Markdown):
    = f.text_area(:hack_blurb)
%p.hacker-blurb
  %label
    Hacker blurb (Markdown):
    = f.text_area(:hacker_blurb)
%p.url
  %label
    Published URL:
    = f.text_field(:url)
%p.published-at
  %label
    Published at:
    = f.date_field(:published_at)
