%article
  %details.animated
    %summary
      %h3= piece.title
      %h4= piece.subtitle
    %p.open
      Below is a demo. You might get a better experience if you
      = link_to('view it as published', piece.url)
    .image!= piece.image_html
    .hack-blurb
      %h5 For hacks
      :markdown
        #{piece.hack_blurb}
    .hacker-blurb
      %h5 For hackers
      :markdown
        #{piece.hacker_blurb}
    - if admin?
      %ul.actions
        %li= link_to('edit', edit_portfolio_piece_path(piece))
